# Ambientes virtuais do Python
.venv/
.venv-auditoria/
venv/
ENV/

# Logs e arquivos gerados pelo script Sentinela
*.log
backups_auditoria/
auditoria_blockchain.log

# Arquivos temporários e binários compilados do SHC
*.x
*.x.c

#Cron
cron_auditoria.log

registro_seguro.json
cron_hids.log
hids.key
registro_seguro.enc

#Banco de dados
*.db
